.form {
    margin: auto;
    padding: 3px;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: lightblue;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
}


